<%= form_for(@customer_order, :html => {:class => 'form-horizontal'}, :url => {:action => "parse_order"}) do |f| %>
  <% if @customer_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_order.errors.count, "error") %> prohibited this customer_order from being saved:</h2>

      <ul>
      <% @customer_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :business_name, "Business Name", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :business_name, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :address, "Address*", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :contact_person, "Contact Person*", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :contact_person, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :phone_number, "Phone Number*", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :mobile_number, "Mobile Number", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :mobile_number, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :email_address, "Email Address*", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.email_field :email_address, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :year, "Year*",class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.select :year, @years, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :month, "Pickup Month*",class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.select :month, @months, class: "form-control" %>
    </div>
  </div>
  
  <div class= "table-responsive">
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Variety</th>
                  <th>Clone</th>
                  <th>Rootstock</th>
                  <th>Quantity</th>
                  <th>Potted</th>
                  <th>Trimmed</th>
                </tr>
              </thead>
              <tbody>
                <%= f.fields_for :vine_orders do |builder| %>
                  <%= render "vine_order_fields", :f => builder %>
                 
                <% end %>
                
              </tbody>
          </table>
          </div>
          <div class="links">
      <%= link_to_add_association 'Add more vines', f, :vine_orders, :class => "btn btn-default", data: {"association-insertion-node" => "tbody", "association-insertion-method" => "append"} %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

                <script type="text/javascript">

  

    
$("#new_customer_order").change( function(e){
  
    var varieties_id = e.target.id
    if (varieties_id.includes("variety")){
    var clone_id = varieties_id.replace("variety", "clone");
    //////
    for (var i=0; i<e.target.length; ++i){
      if (e.target[i].selected){
        var id_value_string = e.target[i].value;
      }
    }
             
            if (id_value_string == "") { 
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("select#" + clone_id + " option").remove();
                var row = "<option value=\"" + "" + "\">" + "..." + "</option>";
                $(row).appendTo("select#" + clone_id);
            }
            else {
                // Send the request and update sub category dropdown 
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/nursery/for_sectionid/' + id_value_string,
                    timeout: 5000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select 
                        
                        $("select#" + clone_id + " option").remove();
                        //put in a empty default line
                        var row = "<option value=\"" + "" + "\">" + "Clones" + "</option>";
                        
                        $(row).appendTo("select#" + clone_id);                        
                        // Fill sub category select 
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.name + "\">" + j.name + "</option>";   
                            $(row).appendTo("select#" + clone_id);                     
                        });             
                     }
                });
            };
              
   
    
    
    
    //////
    
    
    };
});
</script>
                
              
