
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">Glenavon Nurseries</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class= "<%= @class1 == 'about' ? 'current' : ''%>"><%= link_to "About Us", :controller => :nursery, :action => :about %></li>
      <li class= "<%= @class1 == 'order' ? 'current' : ''%>"><%= link_to "Order Vines", :controller => :nursery, :action => :order %></li>
      <li class= "<%= @class1 == 'vines' ? 'dropdown current' : 'dropdown' %>">
        <a class="dropdown-toggle disabled" data-toggle="dropdown" href="varieties">Our Vines
        <span class="caret"></span></a>
        <ul class="dropdown-menu inverse-dropdown">
          <li class= "<%= @class2 == 'varieties' ? 'current' : ''%>"><%= link_to "Varieties", :controller => :nursery, :action => :varieties %></li>
          <li class= "<%= @class2 == 'products' ? 'current' : ''%>"><%= link_to "Products and Services", :controller => :nursery, :action => :products %></li>
          <li class= "<%= @class2 == 'surplus' ? 'current' : ''%>"><%= link_to "Surplus Vines", :controller => :nursery, :action => :surplus %></li>
        </ul>
      </li>
      <li class= "<%= @class1 == 'info' ? 'dropdown current' : 'dropdown' %>">
        <a class="dropdown-toggle disabled" data-toggle="dropdown" href="gallery">Extra Info
        <span class="caret"></span></a>
        <ul class="dropdown-menu inverse-dropdown">
          
          <li class= "<%= @class2 == 'gallery' ? 'current' : ''%>"><%= link_to "Gallery", :controller => :nursery, :action => :gallery %></li>
          <li class= "<%= @class2 == 'planting' ? 'current' : ''%>"><%= link_to "Planting Guide", :controller => :nursery, :action => :planting %></li>
          <li class= "<%= @class2 == 'links' ? 'current' : ''%>"><%= link_to "Links", :controller => :nursery, :action => :links %></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</nav>