<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Glenavon Nurseries</title>
        
        
        <%= stylesheet_link_tag "bootstrap" %>
        <%= stylesheet_link_tag "base" %>
        <%= stylesheet_link_tag "blueimp-gallery.min" %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <%= javascript_include_tag "blueimp-gallery.min", "data-turbolinks-track" => true  %>
        
    </head>
    
    <body >
        <%= render 'header' %>
        <%= render 'footer' %>
        
    </body>
</html>