
        <%= stylesheet_link_tag "home" %>
  
         <%= render 'phrasing/initializer' %>    

         <%= render 'header' %>

            <div class="jumbotron">
                <div class="container-fluid jumbo-content">
            <h1><%= phrase('jumbotron-header') %></h1>
      <p><%= phrase('jumbotron-body') %></p>
      
      <p>
          <%= link_to phrase('jumbotron-button'), order_path, :class => "btn btn-primary btn-lg" %>
      </p>
  
</div>
			</div>
            
    
      <br>
      
      

      <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center"><%= phrase('homepage-intro-header') %></h1>
                <p class="lead text-center"><%= phrase('homepage-intro-body') %></p>
            </div>
        </div>
    </div>
    <br>
    

		<div class="container-fluid">
			
			<div class="agileits_banner_bottom_grids">
				<div class="col-md-4 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
					    <%= link_to products_path do %>
						<%= image_tag("vines.jpg", :alt => "rss feed", :class => "img-responsive") %>

						<div class="overlay">
						   <h4><%= phrase('promo-item-1-header') %></h4>
						   <p><%= phrase('promo-item-1-body') %></p>
						</div>
						<% end %>
					</div>
				</div>
				<div class="col-md-4 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
					    <%= link_to "#" do %>
						<%= image_tag("vines.jpg", :alt => "rss feed", :class => "img-responsive") %>

						<div class="overlay">
						   <h4><%= phrase('promo-item-2-header') %></h4>
						   <p><%= phrase('promo-item-2-body') %></p>
						</div>
						<% end %>
					</div>
				</div>
				<div class="col-md-4 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
					    <%= link_to varieties_path do %>
						<%= image_tag("vines.jpg", :alt => "rss feed", :class => "img-responsive") %>

						<div class="overlay">
						   <h4><%= phrase('promo-item-3-header') %></h4>
						   <p><%= phrase('promo-item-3-body') %></p>
						</div>
						<% end %>
					</div>
				</div>
				
			</div>
		</div>

    <!-- services -->
	<div class="about services" id="services"> 
		<div class="container"> 
			<div class="agileits-title"> 
				<div class="col-md-6 agileits-title-left">
					<h6>- What we do</h6>
					<h3>Our Services</h3>
				</div>
				<div class="col-md-6 agileits-title-right">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-w3ls-row">
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Fugiat Quo</h4>
						<p class="description">Phasellus at placerat ante nulla adipiscing elit</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Voluptas </h4>
						<p class="description">Phasellus at placerat ante nulla adipiscing elit</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Quo fugiat</h4>
						<p class="description">Phasellus at placerat ante nulla adipiscing elit</p>
					</div>
				</div> 	
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Voluptas</h4>
						<p class="description">Phasellus at placerat ante nulla adipiscing elit</p>
					</div>
				</div> 
				<div class="clearfix"> </div>
			</div>	 
		</div>
	</div>
	<!-- //services --> 



<!-- //banner-bottom -->
						
    
      <div class="container-fluid">
     <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <%= phrase('mid-homepage-header') %>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i><%= phrase('info-item-header-1') %></h4>
                    </div>
                    <div class="panel-body">
                        <p><%= phrase('info-item-body-1') %></p>
                        <a href="#" class="btn btn-default"><%= phrase('info-item-button-1') %></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i><%= phrase('info-item-header-2') %></h4>
                    </div>
                    <div class="panel-body">
                        <p><%= phrase('info-item-body-2') %></p>
                        <a href="#" class="btn btn-default"><%= phrase('info-item-button-2') %></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i><%= phrase('info-item-header-3') %></h4>
                    </div>
                    <div class="panel-body">
                        <p><%= phrase('info-item-body-3') %></p>
                        <a href="#" class="btn btn-default"><%= phrase('info-item-button-3') %></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center"><%= phrase('lower-homepage-header') %></h1>
                <p class="lead text-center"><%= phrase('lower-homepage-body') %></p>
            </div>
        </div>
    </div>
    
  

	
		<!--
			
			<div class="container-fluid footerimage">

    <%= image_tag("Beautiful-Vineyard-Vines-Wallpaper.jpg", :class => "img") %>

			</div>
			-->
 
        <%= render 'footer' %>
        
