
        <%= javascript_include_tag "vine_order" %>

   
         <%= render 'header' %>
        
    <div class="continer-fluid form-outer">
      <div class="container-fluid form-inner">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Order Vines</h1>
                <br>
              </div>
        </div>
    
          <div class="container-fluid">
              <%= render 'form' %>
          </div>
          </div>
          </div>
<%= @params %>
		 
        <%= render 'footer' %>

