<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Glenavon Nurseries</title>
        
        
        <%= stylesheet_link_tag "bootstrap" %>
        <%= stylesheet_link_tag "base" %>
        <%= stylesheet_link_tag "vines" %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
    
    <body >
        <%= render 'header' %>
    
<ul class="nav nav-tabs">
          <li><a href="vines">Vines</a></li>
          <li class="active"><a href="rootstocks">Rootstocks</a></li>
        </ul>    

      <div class="panel-group" id="accordion">
      <% @rootstocks.each_with_index do |rootstock, index| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index+1 %>">
                  <%= rootstock.name %>
                </a>
              </h4>
            </div>
            <div id="collapse<%= index+1 %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= rootstock.comment %>
                
                
              </div>
            </div>
          </div>
        <% end %>
      </div>       

		 
        <%= render 'footer' %>
    </body>
</html>